.qr-only {
  width: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 2rem;
}

.qr-only img {
  width: 320px;
  height: 320px;

  background: white;

  padding: 20px;

  border-radius: 20px;

  object-fit: contain;

  box-shadow: 0 15px 40px rgba(0, 0, 0, 0.3);
}
